.button
{
    -fx-background-color: #028444;
}

.button:hover
{
    -fx-background-color: #333333;
}

.button:pressed
{
    -fx-background-color: #2b2b2b;
}

#btnDashboard
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("Images/icons8_New_Resume_Template_32px_1.png");
}

#btnBooking
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("Images/icons8_Booking_32px.png");
}

#btnGuests
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("Images/icons8_People_32px.png");
}

#btnCalendar
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("Images/icons8_Calendar_32px.png");
}

#btnHotelMap
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("Images/icons8_Map_32px.png");
}

#btnBilling
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("Images/icons8_Overview_32px.png");
}

#btnClose
{
    -fx-background-color: #333333;
    -fx-background-radius: 0px;
    -fx-graphic: url("Images/icons8_Delete_22px.png");
}

#btnClose:hover
{
    -fx-background-color: #3F3F3F;
}

#btnMinimize
{
    -fx-background-color: #333333;
    -fx-background-radius: 0px;
    -fx-graphic: url("Images/icons8_Subtract_22px.png");
}

#btnMinimize:hover
{
    -fx-background-color: #3F3F3F;
}

#dashboardPane
{
    -fx-background-image: url("Images/forest-background.jpg");
}

#bookingPane
{
    -fx-background-image: url("Images/forest-background.jpg");
}

#guestsPane
{
    -fx-background-image: url("Images/forest-background.jpg");
}

#calendarPane
{
    -fx-background-image: url("Images/forest-background.jpg");
}

#hotelmapPane
{
    -fx-background-image: url("Images/forest-background.jpg");
}

#billingPane
{
    -fx-background-image: url("Images/forest-background.jpg");
}

#guestsList
{
    -fx-background-radius: .5em .5em .5em .5em;
    -fx-border-radius: .5em .5em .5em .5em;
}