.button
{
    -fx-background-color: #028444;
}

.button:hover
{
    -fx-background-color: #333333;
}

#btnDashboard
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_New_Resume_Template_32px_1.png");
}

#btnBooking
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_Booking_32px.png");
}

#btnGuests
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_People_32px.png");
}

#btnCalendar
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_Calendar_32px.png");
}

#btnHotelMap
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_Map_32px.png");
}

#btnBilling
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_Overview_32px.png");
}

#btnRoomStatus
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_Towel_32px.png");
}

#btnUsers
{
    -fx-graphic-text-gap: 25px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_Registration_32px.png");
}

#btnLogout
{
    -fx-graphic-text-gap: 5px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-graphic: url("../hotel/Images/icons8_Shutdown_24px.png");
}

#btnLogout:hover
{
    -fx-background-color: transparent;
    -fx-underline: true;
}

#btnClose
{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-graphic: url("../hotel/Images/icons8_Delete_22px.png");
}

#btnClose:hover
{
    -fx-background-color: #3F3F3F;
}

#btnMinimize
{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-graphic: url("../hotel/Images/icons8_Subtract_22px.png");
}

#btnMinimize:hover
{
    -fx-background-color: #3F3F3F;
}