#loginPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#dashboardPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#bookingPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#guestsPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#calendarPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#hotelmapPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#billingPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#roomstatusPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}

#usersPane
{
    -fx-background-image: url("../images/forest-background.jpg");
}